<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>BODY PAINS</h1>
	<h2>Tablets</h2>
	<ul>
		
		<h2><mark>PARACETAMOL</mark></h2><br>
		<h1>The usage of <mark>paracetamol tablet</mark> is</h1><br>
		<li>every 6hours a day</li><br>
		
		<h2><mark>Diclofenac</mark></h2><br>
		<h1>The usage of<mark>Diclofenac tablet</mark>is</h2><br>
		
		<li>1 or 2 tablets a day</li>
	
		

		
	</ul>
	</body>

</html>