<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>BREAST PAIN</h1>
	<h2>Symptoms</h2>
	<p> Tenderness, Throbbing, Stabbing buring pain, Tightness in the breast tissue</p>
	<h2>Medicine</h2>
	<ul>
		
		<h2><u> NSAIDs</u></h2><br>
		<h1>The usage of <mark>NSAIDs tablet</mark> is</h1>
		<li>NSAIDs are prescribed in different doses, depending on the condition. These drugs may need to be 
            taken from one to four times a day. Don't increase the dose without asking your doctor first.</li><br>
		

		
	</ul>
	</body>

</html>