<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>COLD</h1>
	<h2>Tablets</h2>
	<ul>
		
		
		<li>cetrizen</li><br>
		<li>chestan cold</li><br>
		<li>saridon</li><br>
		<li>crocin</li><br>
		
		

		
	</ul>
	</body>

</html>