<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>Diarrhoea</h1>
	<h2>Symptoms</h2>
	<p> Stomachpain,Loose motions</p>
	<h2>Tablets</h2>
	<ul>
		
		<h2><u> ORS : Primary treatment </u></h2><br>
		<h1>The usage of <mark>ORS</mark> is</h1>
		<li>Children-ORS with zn suplement</li><br>
		<li>Child under 24 months: 50 to 100 ml after each loose stool (approximately 500 ml daily).</li><br>
		<li>Child from 2 to 10 years: 100 to 200 ml after each loose stool (approximately 1000 ml daily).
		</li><br>
		<li>Child over 10 years and adult: 200 to 400 ml after each loose stool (approximately 2000 ml daily).</li>

		
	</ul>
	</body>

</html>