<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>DIZZYNESS</h1>
	<h2>Symptoms</h2>
	<p> A false sense of motion or spinning(vertigo), loss of balance, Heavy headedness</p>
	<h2>Tablets</h2>
	<ul>
		
		<h2><u> Meclizine</u></h2><br>
		<h1>The usage of <mark>Meclizine tablet</mark> is</h1>
		<li>Adults and children 12 years of age or older—The usual dose is 25 to 50 milligrams (mg) one hour 
            before travel. The dose may be repeated every twenty-four hours as needed.</li><br>
	</ul>
</body>

</html>