<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>EAR PAIN</h1>
	<h2>Symptoms</h2>
	<p> Pain in an ear with or without fever, Itching of the ear, loss of hearing</p>
	<h2>Tablets</h2>
	<ul>
		
		<h2><u>Acetominophen(Tylenol)</u></h2><br>
        <h2><u>Ibuprofen(Advil)</u></h2><br>
		<h1>The usage of <mark>Acetominophen(Tylenol) tablet</mark> is</h1>
		<li>The dosing interval has also changed from 2 pills every 4–6 hours to 2 pills every 6 hours.</li><br>
		<h1>The usage of <mark>Ibuprofen(Advil) tablet </mark>is</h1>
		<li>Take Ibuprofen 400 mg. (equivalent to 2 Advil, Nuprin, or Motrin IB) every 4 hours around the 
clock. This means that you take this medicine every 4 hours even if the pain has not returned.</li>

		
	</ul>
	</body>

</html>