<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>EYE PAIN</h1>
	<h2>Symptoms</h2>
	<p> itching, burning or shooting pain</p>
	<h2>Tablets</h2>
	<ul>
		
		<h2><u> Gramicidin</u></h2><br>
		<h1>The usage of <mark>Gramicidin tablet</mark> is</h1>
		<li>Hold the dropper directly over your eye and insert one drop, usually every 4 hours, or as 
            directed by your doctor.</li><br>	
	</ul>
	</body>

</html>