<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>FEVER</h1>
	<h2>Tablets</h2>
	<ul>
		
		<h2><mark>PARACETAMOL</mark></h2><br>
		<h1>The usage of <mark>paracetamol tablet</mark> is</h1>
		<li>Infants – 0.5 to 1 mg</li><br>
		<li>4 to 8 – 160 to 300 mg</li><br>
		<li>9 to 12 – 300 to 500 mg</li><br>
		<li>Adults – 500 to 650 mg</li><br>
		<h2><mark>Dolo-650</mark></h2>
		<h2><mark>Paracetamol syrup for children</mark></h2>
		<h1>The usage of <mark>Paracetamol syrup for children</mark></h1><br>
		<li>2-12 years of children can take 5ml</li>
	
		

		
	</ul>
	</body>

</html>