<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>HEAD ACHE</h1>
	<h2>Tablets</h2>
	<ul>
		
		<h2><mark>Saridon</mark></h2><br>
		<h1>The usage of <mark>saridon tablet</mark> is</h1><br>
		<li>used only in children above 12 yrs and adults - can be used for every 6 hrs<li>
	
		

		
	</ul>
	</body>

</html>