<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>Period Pain</h1>
	<h2>Symptoms</h2>
	<p> Stomachpain</p>
	<h2>Tablets</h2>
	<ul>
		
		<h2><mark>Meftal spas</mark></h2><br>
		<h1>The usage of <mark>Meftal Spas</mark> is</h1>
		<li>Doctors recommend 1 tablet of Meftal Spas during the severe (unbearable) menstruation pain. </li><br>
		<li>This medicine should not be taken more than once at a time</li><br>
		<h1>The usage of <mark>Advil</mark> is</h1>
		<li>Adults and children 12 years and over: take 1 caplet every 4 to 6 hours while symptoms persist</li><br>
		<li>Do not exceed 6 caplets in 24 hours, unless directed by a doctor</li>
	</ul>
	</body>

</html>