<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>Skin Allergies</h1>
	<h2>Symptoms</h2>
	<p> Red, bumpy, itchy skin can be irritating, painful and embarrassing.</p>
	<h2>Tablets</h2>
	<ul>
		
		<h2><mark>Hydrosortisone</mark></h2><br>
		<h1>The usage of <mark>Hydrosortisone</mark> is</h1>
		<li>Dose is 20mg/day. </li><br>
		<h2><mark>Calamine Lotion</mark></h2><br>
		<h1>The usage of <mark>Calamine Lotion</mark> is</h1>
		<li>Apply enough medicine to cover affected skin area(s) and rub in gently.The dose of this medicine will be different for different patients.
 Follow your doctor's orders or the directions on the label
</li><br>
	</ul>
	</body>

</html>