<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>STOMACH PAIN</h1>
	<h2>Symptoms</h2>
	<p> Indegestion,Gas pain, Food allergies, Food Poisoning,Diarrhea</p>
	<h2>Tablets</h2>
	<ul>
		
		<h2><u> For cramping from diarrhea we use loperamide</u></h2><br>
		<h1>The usage of <mark>loparemide tablet</mark> is</h1>
		<li>The initial dose is 2 capsules (4 mg) daily for adults and 1 capsule (2 mg) daily for children</li><br>
		<li>this initial dose should be adjusted until 1-2 solid stools a day are obtained, which is usually achieved with a maintenance dose of 1-6 capsules (2 mg-12 mg) daily</li><br>
		<h2><u> For other types of pain we use pepto Bismol</u></h2><br>
		<h1>The usage of <mark>pepto-Bismol tablet </mark>is</h1>
		<li>Pepto-Bismol works within 30 to 60 minutes. You can have another dose after 30 to 60 minutes</li>
		<li> if you need to, You can take up to 8 doses in 24 hours.</li>

		
	</ul>
	</body>

</html>