<html>
<body>
	<title>
		Tablets to be used
	</title>
	<h1>THROAT PAIN</h1>
	<h2>Symptoms</h2>
	<p> Pain and irritation in the throat</p>
	<h2>Tablets</h2>
	<ul>
		
		<h2><u>Acetaminophen</u></h2><br>
		<h1>The usage of <mark>Acetaminophen tablet</mark> is</h1>
		<li>Take this medication by mouth with or without food, usually every 4 to 6 hours as needed or as 
            directed by your doctor.</li><br>
		<li>If stomach upset occurs, it may help to take this medication with food
            or milk. Drink plenty of fluids when you use this medication unless otherwise directed by your 
            doctor.</li><br>	
	</ul>
	</body>

</html>