<html>
<body>
    <title>
        Tablets to be used
    </title>
    <h1>Vomitings</h1>
    <h2>Tablets</h2>
    <ul>
        
        <h2><mark>Ondansetron</mark></h2><br>
        <h1>The usage of <mark>Ondansetron</mark> is</h1>
        <li>On an empty stomach (2 hours after a meal or 1 hour before a meal). – With 8 ounces of water. </li><br>
        <li>Do not take it with any other liquid.</li><br>
        <h2><mark>Granisteron</mark></h2><br>
        <h1>The usage of <mark>Granisteron</mark> is</h1>
        <li>2 mg orally once a day</li><br>
    </ul>
    </body>

</html>